body{
    background-color: rgb(94, 233, 238);
    font: normal 15pt Arial;
}

header{
    color: black;
    text-align: center;
}

section{
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 4px 10px rgb(197, 197, 197);
}

footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}